.masonry-container {
	position: relative;
	width: 100%;
}

.masonry-container > * {
	position: absolute;
	opacity: 0;
	outline: 1px solid #989898;
    background-color: #fff;
}

.masonry-container > .visible {
	opacity: 1;
}

.card-panel > p {
	margin-left: 9px;
	margin-top: 7px;
	margin-bottom: 3px;
    font-size: larger;
    font-weight: 500;
}

.card-container {
	position: relative;
}

.card-container > * {
	margin: 0 !important;
	position: absolute;
	opacity: 0;
}

.card-container > .visible {
	opacity: 1;
}
