<div layout="column" class="nr-dashboard-cardpanel">
    <p class="nr-dashboard-cardtitle" ng-style="{width:ctrl.width-12}" ng-if="group.header && group.header.config.disp && group.header[group.header.length-1]!='!'">{{group.header.name}}
        <span ng-if="group.header.config.collapse" ng-model="collapsed" ng-click="collapseCard()" class="nr-dashboard-cardcarat">
            <i ng-class="{ 'fa fa-caret-down':collapsed, 'fa fa-caret-up':!collapsed }"></i>
        </span>
    </p>
    <div class="nr-dashboard-cardcontainer" id="{{main.selectedTab.header+'_'+group.header.name | spaceToUnderscore}}_cards" ng-transclude ng-style="{width:ctrl.width, height:ctrl.height}"></div>
</div>
