.masonry-container {
	position: relative;
	width: 100%;
}

.masonry-container > * {
	position: absolute;
	opacity: 0;
}

.masonry-container > .visible {
	opacity: 1;
}

.nr-dashboard-cardpanel > p {
	margin-left: 14px;
	margin-top: 17px;
	margin-bottom: 7px;
    font-size: 1.2em;
    font-weight: 500;
}

.nr-dashboard-cardcontainer {
	position: relative;
}

.nr-dashboard-cardcontainer > * {
	margin: 0 !important;
	position: absolute;
	opacity: 0;
}

.nr-dashboard-cardcontainer > .visible {
	opacity: 1;
}
