<div flex layout="row" layout-align="space-between center">
    <p>{{me.item.label}}</p>
    <div layout="row" layout-align="center center">
        <md-button class="md-icon-button" ng-click="me.valueDown()" aria-label="{{me.item.label}}">
            <ng-md-icon icon="expand_more"></ng-md-icon>
        </md-button>
        <h3 ng-bind-html="me.item.getText()"></h3>
        <md-button class="md-icon-button" ng-click="me.valueUp()" aria-label="{{me.item.label}}">
            <ng-md-icon icon="expand_less"></ng-md-icon>
        </md-button>
    </div>
</div>