<md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
        <md-button ng-click="main.toggleSidenav()" class="md-icon-button">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h1 ng-show="main.loaded">{{main.selectedTab.header}}</h1>
    </div>
</md-toolbar>
<md-content layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z1"
                md-component-id="left">
        <md-list>
            <md-subheader class="md-no-sticky">Pages</md-subheader>
            <md-list-item ng-repeat="tab in main.tabs" ng-click="main.select($index)">
                <ng-md-icon class="md-default-theme" icon="{{tab.icon}}" style="margin: 5px"></ng-md-icon>
                <p>{{tab.header}}</p>
            </md-list-item>
            <md-subheader class="md-no-sticky">Other</md-subheader>
            <md-list-item ng-click="main.openEditor()">
                <ng-md-icon icon="open_in_browser" style="margin: 5px"></ng-md-icon>
                <p>Edit flows</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content layout="row" flex layout-align="center start">
        <masonry masonry-options="{isFitWidth: true, columnWidth: '.group-card', gutter: 16}">
            <md-card class="masonry-brick group-card" ng-repeat="group in main.selectedTab.items"
                     style="margin: 16px 0 0 0">
                <md-card-content layout="column">
                    <h2 ng-show="group.header" class="md-title">{{group.header}}</h2>
                    <ui-component ng-repeat="control in group.items" flex item="control"></ui-component>
                </md-card-content>
            </md-card>
        </masonry>
    </md-content>
</md-content>