<div flex layout="row" layout-align="space-around center"
    class="control-button-row">
    <md-button ng-repeat="button in me.item.buttons" 
               class="md-icon-button" 
               ng-click="me.rowButtonClick(button)"
               ng-style="{color: me.item.toggle && me.item.value[button.payload] ?  button.on_color : button.color}" 
               aria-label="unknown">
        <ui-icon icon="{{me.item.toggle && me.item.value[button.payload] ?  button.on_icon : button.icon}}"></ui-icon>
    </md-button>
</div>