<md-card 
    ui-card-size="{{ me.item.width }}x{{ me.item.height }}" 
    class="nr-dashboard-button" 
    ng-class="{'nr-dashboard-disabled':me.item.disabled}">
    <md-button 
        class="md-raised"
        ng-click="me.buttonClick()"
        aria-label="{{'button' + me.item.label}}"
        ng-style="{'background-color':me.item.getText(), 'color':me.item.getColor(), 'z-index':1, 'padding':'0px'}">
        <ui-icon 
            ng-show="me.item.icon.length" 
            icon="{{me.item.icon}}" 
            ng-style="{color:me.item.getColor()}">
        </ui-icon>
        <span ng-bind-html="me.item.getLabel()"></span>
        <md-tooltip 
            ng-if="me.item.getTooltip().length" 
            md-delay="700" 
            md-direction="bottom" 
            ng-bind-html="me.item.getTooltip()">
        </md-tooltip>
    </md-button>
</md-card>
