.control-button {
    box-shadow: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
    border-radius: 4px;
    border-width: thin;
    border-style: solid;
    border-color: #000;
    background-color:#fff !important;
}
