.nr-dashboard-button {
	background: none;
}

.nr-dashboard-button .md-button {
    box-shadow: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
}
