.nr-dashboard-button {
	background: none;
}

.nr-dashboard-button .md-button {
    box-shadow: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    min-width: 0px;
    min-height: 0px;
}

md-card .nr-dashboard-button {
    padding: 2px;
}

.nr-dashboard-button i {
    vertical-align: middle;
    width: unset;
}

.nr-dashboard-button .fa-2x {
    vertical-align: middle;
    padding-bottom: 2px;
}

.nr-dashboard-button .fa-3x {
    vertical-align: middle;
    padding-bottom: 1px;
}
