<md-card ui-card-size="{{ me.item.width }}x{{ me.item.height }}">
    <nvd3-line-chart
        class="control-chart"
        data="me.item.value"
        width="{{ me.item.width * 50 - (me.item.width - 1)*7}}"
        height="{{ me.item.height * 50 - (me.item.height - 1)*7 }}"
        margin="{left:30,top:10,bottom:30,right:30}"
        showXAxis="true"
        showYAxis="true"
        objectequality="true"
        xAxisTickFormat="me.formatTime"
        yaxisdomain='$parent.me.item.value | chartGetRange : [$parent.me.item.ymin, $parent.me.item.ymax]'

        tooltips="true"
        interactive="true"
        interpolate="{{me.item.interpolate}}"
        noData="{{me.item.nodata}}">
        <svg></svg>
    </nvd3-line-chart>
</md-card>
