<md-card ui-card-size="{{ me.item.width }}x{{ me.item.height }}" layout-align="center center" ng-class="{'nr-dashboard-disabled':me.item.disabled}">
    <div class="nr-dashboard-chart-container">
        <p
            class="label nr-dashboard-chart-title"
            ng-class="{'nr-dashboard-chart-titlel':(me.item.width > 3)}"
            ng-bind-html="me.item.getLabel()">
        </p>
        <ui-chart-js
            class="nr-dashboard-chart"
            ng-swipe-right="$event.stopPropagation();"
            ng-swipe-left="$event.stopPropagation();"
            >
        </ui-chart-js>
        <p class="blank-label" ng-if="config && config.nodata">{{ me.item.nodata }}</p>
    </div>
</md-card>
