/*
overwrite the default md-errors-spacer min-height
reason: https://github.com/angular/material/issues/6214
*/

.nr-dashboard-colour-picker p {
    padding: 0 0 0 10px;
}

.color-picker-wrapper {
    padding-right: 6px;
}

.color-picker-wrapper.color-picker-swatch-only.color-picker-open {
    width: 32px;
}
.color-picker-wrapper.color-picker-swatch-only.color-picker-open.color-picker-show-alpha .color-picker-panel.color-picker-panel-right.color-picker-show-inline {
    right: 142px;
}
.color-picker-wrapper.color-picker-swatch-only.color-picker-open .color-picker-panel.color-picker-panel-right.color-picker-show-inline {
    right: 122px;
}

.color-picker-wrapper .input-group .input-group-addon {
    padding: 12px 12px;
}

.color-picker-wrapper.color-picker-swatch-only .input-group .input-group-addon {
    width: 0px;
}

.color-picker-wrapper .input-group .color-picker-input {
    position: relative;
    width: 141px;
    height: 20px;
    font-size: smaller;
}

.color-picker-wrapper .color-picker-swatch:not(.input-group-addon).color-picker-swatch-right {
    /* right: -1px; */
}

.color-picker-input-wrapper {
    width: 100%;
}

.color-picker-input-wrapper > input {
    padding-left: 3px;
}

.color-picker-show-inline {
    z-index: 99998 !important;
}
