/*
overwrite the default md-errors-spacer min-height
reason: https://github.com/angular/material/issues/6214
*/

.nr-dashboard-colour-picker {
    padding: 0 0 0 10px;
}

.nr-dashboard-colour-picker .value {
    font-weight: bold;
}

.nr-dashboard-colour-picker .md-button {
    margin: 0;
}

.color-picker-wrapper .input-group .input-group-addon {
    padding: 12px 12px;
}

.color-picker-wrapper.color-picker-swatch-only .input-group .input-group-addon {
    width: 0px;
}

.color-picker-wrapper .color-picker-swatch:not(.input-group-addon).color-picker-swatch-right {
    right: -1px;
}

.color-picker-input-wrapper {
    width: 98%;
}

.color-picker-input-wrapper > input {
    width: 100%;
}

.color-picker-show-inline {
    z-index: 99998 !important;
}
