.nr-dashboard-dropdown md-input-container {
	width: 100%;
	height: 90%;
	padding-left: 8px;
    padding-right: 4px;
    margin: 0px;
    margin-right: 4px;
}

.nr-dashboard-dropdown md-input-container>md-select {
    overflow: hidden;
    /* margin-left: 4px !important; */
    margin-top: 6px;
}

.nr-dashboard-theme .nr-dashboard-dropdown md-select-value {
    min-width: 16px;
}

.nr-dashboard-theme .nr-dashboard-dropdown .md-select-value .md-select-icon {
    margin: 0px;
    width: 12px;
}

.nr-dashboard-dropdown .layout-row>.flex-100 {
    flex: 1 1 50%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.nr-dashboard-dropdown p.label {
	margin: 0px;
	line-height: 34px;
    margin-right: 4px;
    margin-top: 3px;
    padding-right: 2px;
    white-space: normal;
    overflow: hidden;
    min-width: 20%;
}

.nr-dashboard-dropdown-header {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 8px;
    height: 34px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.nr-dashboard-dropdown-header input {
    padding-left: 8px;
}

.nr-dashboard-dropdown-header ng-md-icon {
    right: 0px;
    left: inherit;
}
