<md-card ui-card-size="{{ me.item.width }}x{{ (( parseInt(me.item.height)||me.item.options.length)+(me.item.label? 2 : 1)) }}" layout="row" layout-align="space-between center" class="nr-dashboard-form">
    <form name ="form" ng-submit="me.submit(form)">
       <p class="formlabel" ng-if="me.item.label" ng-bind-html="me.item.getLabel()"></p>
       <div layout-gt-sm="row" ng-repeat="opt in me.item.options track by $index">
           <md-input-container class="md-block" style="height:{{me.item.sy}}px !important" flex>
               <label ng-if="(opt.type=='text' || opt.type=='number' || opt.type=='email' || opt.type=='password' || opt.type=='date') && opt.label">{{opt.label}}</label>
               <input ng-if="opt.type=='text' || opt.type=='email' || opt.type=='password' || opt.type=='date'" type="{{opt.type}}"
                ng-model="me.item.formValue[opt.value]"
                ng-required="opt.required"
                ng-keydown="me.stop($event)">
               <input ng-if="opt.type=='number'" type="{{opt.type}}"
                 ng-model="me.item.formValue[opt.value]"
                 ng-required="opt.required"
                 ng-keydown="me.stop($event)"
                 step="any">
               <md-switch ng-if="opt.type=='switch'" md-no-ink ng-model="me.item.formValue[opt.value]">{{opt.label}}</md-switch>
               <md-checkbox ng-if="opt.type=='checkbox'" md-no-ink aria-label="Checkbox No Ink" ng-model="me.item.formValue[opt.value]"> {{opt.label}}</md-checkbox>
           </md-input-container>
           <!-- <md-datepicker ng-if="opt.type=='date'" ng-model="me.item.formValue[opt.value]"></md-datepicker> -->
       </div>
       <div layout-gt-sm="row" style="margin-top:0px">
           <md-button class="md-raised nr-dashboard-form-button" type="submit">{{me.item.submit}}</md-button>
           <md-button class="md-raised nr-dashboard-form-button" ng-click="me.reset()">{{me.item.cancel}}</md-button>
       </div>
   </form>
</md-card>
