.nr-dashboard-form {
	display: inline-block;
	width: 100%;
	overflow-y: auto;
}
.nr-dashboard-form form {
    padding: 0px 6px 0px 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nr-dashboard-form .formlabel {
    font-size: large;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 6px;
    padding: 0 6px;
    width: 100%;
}
.nr-dashboard-form .formElement {
    width: calc(100% - 12px);
    margin-left: 6px;
    margin-right: 6px
}
.nr-dashboard-form .formElementSplit {
    width: calc(50% - 12px);
    margin-left: 6px;
    margin-right: 6px
}
.nr-dashboard-form .form-control {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-top:-20px;
}
.nr-dashboard-form .form-control-single {
    justify-content:space-around;
}
.nr-dashboard-form .form-control-single > .nr-dashboard-form-button {
    width:100%
}
.nr-dashboard-form .form-control-no-label {
    margin-top:-10px;
}
.nr-dashboard-form md-input-container {
	display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

md-input-container label:not(.md-container-ignore) {
    position: absolute;
    bottom: 94%;
    left: 0;
    right: auto;
}

.nr-dashboard-form form md-input-container input {
    margin-top: 2px;
}

.nr-dashboard-form md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    -webkit-transform: translate3d(0,10px,0) scale(.75);
    transform: translate3d(0,10px,0) scale(.75);
    -webkit-transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
}
.nr-dashboard-form md-datepicker {
	padding-bottom: 10px;
}
.nr-dashboard-form md-switch {
	margin-top: 0px;
    margin-bottom: 0px;
}
.nr-dashboard-form input[type="checkbox"] {
    margin-top: 0px;
    margin-bottom: 0px;
}
.nr-dashboard-form md-input-container .md-errors-spacer {
    float: right;
    min-height: 0px;
    min-width: 1px;
}
.nr-dashboard-form-button {
    width: 50%;
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 28px;
}
.nr-dashboard-form form md-input-container md-checkbox .md-label {
    position: unset;
    top: unset;
}
