/*
	ALL COMPONENTS/CONTENT
*/

.nr-dashboard-disabled {
    opacity: 0.4 !important;
    pointer-events: none !important;
}

body.nr-dashboard-theme-dark {
	background: #111;
}

body.nr-dashboard-theme-dark md-content {
	color: #0FBBC3;
    background: transparent;
    height: 100%;
}

body.nr-dashboard-theme-dark md-content md-card {
	background-color: #333;
	color: #eee;
}

/* Some colour classes */
body.nr-dashboard-theme-dark .nr-dashboard-color { color: #0FBBC3; }
body.nr-dashboard-theme-dark .nr-dashboard-error { color: #ff2929; }
body.nr-dashboard-theme-dark .nr-dashboard-warning { color: #eaf42f; }
body.nr-dashboard-theme-dark .nr-dashboard-ok { color: #49db3c; }
body.nr-dashboard-theme-dark .nr-dashboard-dim { opacity: 0.5 !important; }


/*
	DASHBOARD HEADER
*/

body.nr-dashboard-theme-dark md-toolbar {
	background-color: #097479;
	border-bottom: 1px solid #6B6B6B;
}


/*
	DASHBOARD SIDEBAR
*/

body.nr-dashboard-theme-dark md-sidenav {
	background: black;
}


/*
	GROUP SPECIFIC
*/

.nr-dashboard-theme-dark ui-card-panel {
	background-color: #333;
	border: 1px solid #555;
}

/*
	COMPONENT-SPECIFIC
*/


/* Button */

.nr-dashboard-theme-dark .nr-dashboard-button .md-button {
	background-color: #06575A;
	color: white;
}

.nr-dashboard-theme-dark .nr-dashboard-button .md-button:hover {
	background-color: #097479;
}


/* Chart */

.nr-dashboard-theme-dark .nr-dashboard-linechart {}

.nr-dashboard-theme-dark .nr-dashboard-linechart text {
	fill: #eee;
}

.nr-dashboard-theme-dark .nr-dashboard-linechart .nvd3 .nv-axis path,
.nr-dashboard-theme-dark .nr-dashboard-linechart .nvd3 .nv-axis line {
	stroke: #484848;
}


/* Dropdown */

.nr-dashboard-theme-dark .nr-dashboard-dropdown md-select .md-select-value,
.nr-dashboard-theme-dark .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {
	color: #EEE;
	border-color: #A9A9A9;
}

.nr-dashboard-theme-dark md-select-menu {
	margin-left: -2px;
}

.nr-dashboard-theme-dark md-select-menu md-content {
	border: 1px solid #4F4F4F;
	padding: 0px;
}

.nr-dashboard-theme-dark md-select-menu md-option {
	background-color: #333333;
	color: #EEEEEE;
}

.nr-dashboard-theme-dark md-select-menu md-option[selected] {
	color: rgba(15, 185, 193, 1.0);
}

.nr-dashboard-theme-dark md-select-menu.md-default-theme md-option:focus:not([disabled]):not([selected]),
md-select-menu md-option:focus:not([disabled]):not([selected]) {
	background-color: #333333;
}

.nr-dashboard-theme-dark md-select-menu md-option:hover {
	background-color: #444;
}


/* Gauge */

.nr-dashboard-theme-dark .nr-dashboard-gauge {}

.nr-dashboard-theme-dark .nr-dashboard-gauge text {
	fill: #eee;
}


/* Numeric */

.nr-dashboard-theme-dark .nr-dashboard-numeric {}


/* Slider */

.nr-dashboard-theme-dark .nr-dashboard-slider {}

.nr-dashboard-theme-dark .nr-dashboard-slider .md-track {
	background-color: rgba(111, 111, 111, 0.5);
}

.nr-dashboard-theme-dark .nr-dashboard-slider .md-track-fill {
	background-color: rgba(15, 185, 193, 1.0);
}

.nr-dashboard-theme-dark .nr-dashboard-slider .md-thumb:after {
	background-color: rgba(15, 185, 193, 1.0);
	border-color: rgba(15, 185, 193, 1.0);
}

.nr-dashboard-theme-dark .nr-dashboard-slider .md-focus-ring {
	background-color: rgba(15, 185, 193, 1.0);
}


/* Switch */

.nr-dashboard-theme-dark .nr-dashboard-switch {}

.nr-dashboard-theme-dark .nr-dashboard-switch md-switch .md-bar {
	background-color: rgba(111, 111, 111, 0.5);
}

.nr-dashboard-theme-dark .nr-dashboard-switch md-switch.md-checked .md-bar {
	background-color: rgba(15, 185, 193, 0.5);
}

.nr-dashboard-theme-dark .nr-dashboard-switch md-switch .md-thumb {
	background-color: rgb(148, 148, 148);
}

.nr-dashboard-theme-dark .nr-dashboard-switch md-switch.md-checked .md-thumb {
	background-color: rgba(15, 185, 193, 1.0);
}


/* Template */

.nr-dashboard-theme-dark .nr-dashboard-template .md-button {
	background: #06575A;
	color: white;
    margin: 0px 6px;
    padding: 0px 12px;
    min-height: 26px;
    min-width: unset;
    line-height: unset;
}

.nr-dashboard-theme-dark .nr-dashboard-template .md-button:hover {
	background-color: #097479;
}

.nr-dashboard-theme-dark .nr-dashboard-template {
    ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #06575a;
    }
    ::-webkit-scrollbar-thumb {
        background: #097479;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
}

/* Text-Input */

.nr-dashboard-theme-dark .nr-dashboard-textinput {}

.nr-dashboard-theme-dark .nr-dashboard-textinput label {
	color: #676767;
}

.nr-dashboard-theme-dark .nr-dashboard-textinput md-input-container.md-input-has-value label {
	color: #676767;
}

.nr-dashboard-theme-dark .nr-dashboard-textinput md-input-container.md-input-focused label {
	color: rgba(15, 185, 193, 1.0);
}

.nr-dashboard-theme-dark .nr-dashboard-textinput md-input-container.md-input-focused input {
	border-color: rgba(15, 185, 193, 1.0);
}

.nr-dashboard-theme-dark .nr-dashboard-textinput md-input-container .md-input:invalid {
	color: #DA5252;
}

.nr-dashboard-theme-dark .nr-dashboard-textinput input {
	border-color: #676767;
	color: #eee;
}


/* Text */

.nr-dashboard-theme-dark .nr-dashboard-text {}


/* Dialog */

.nr-dashboard-theme-dark md-dialog {
    color: #eee;
    background-color: #333;
    border: 1px solid #555;
}

.nr-dashboard-theme-dark .md-dialog-content {
    padding: 24px;
}

.nr-dashboard-theme-dark .md-button.md-primary {
	color: #0FBBC3 !important;
}


/* Form */
.nr-dashboard-theme-dark  .nr-dashboard-form-button {
  background-color:  #097479 !important;
	  color: rgba(255, 255, 255, 0.87);
}
.nr-dashboard-theme-dark  .nr-dashboard-form {
	color: #eee;
}
.nr-dashboard-theme-dark  .nr-dashboard-form form md-input-container input {
	border-color: #676767;
	color: #FFF;
}
.nr-dashboard-theme-dark  .nr-dashboard-form form md-input-container label{
	color: #676767;
}
.nr-dashboard-theme-dark  .nr-dashboard-form form md-input-container.md-input-has-value:not(.md-input-invalid) label{
		color: #676767;
}
.nr-dashboard-theme-dark  .nr-dashboard-form form md-input-container:not(.md-input-invalid).md-input-focused input{
	border-color: #0fbbc3 ;
}
.nr-dashboard-theme-dark .nr-dashboard-form form md-input-container:not(.md-input-invalid).md-input-focused label{
	color: #0fbbc3 ;
}
.nr-dashboard-theme-dark .nr-dashboard-form form .md-input-invalid input{
	border-color: #F00 !important;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form .md-input-invalid label{
	color: #F00 !important;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-input-container md-checkbox.md-checked .md-icon {
 background-color: rgba(15,187,195, 0.87);
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-input-container md-checkbox .md-icon{
 border-color: #676767;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-input-container md-switch .md-bar{
	background-color: rgba(111, 111, 111, 0.5);
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-input-container md-switch .md-thumb  {
	background-color: rgb(148, 148, 148);
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-input-container md-switch.md-checked .md-bar{
	background-color: rgba(15,187,195, 0.5);
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-input-container md-switch.md-checked .md-thumb  {
	background-color: rgba(15,187,195, 0.87);
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form md-datepicker  {
	background-color: inherit;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form  .md-datepicker-calendar-icon   {
	fill : #0fbbc3 ;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form .md-datepicker-open .md-datepicker-calendar-icon   {
	fill : rgba(0,148,206, 0.87) ;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form .md-datepicker-input {
	color: #FFF;
}
.nr-dashboard-theme-dark md-content .nr-dashboard-form form .md-datepicker-input-container {
	border-color: #676767;
}
.nr-dashboard-theme-dark  md-content .nr-dashboard-form form .md-datepicker-expand-triangle{
  border-top-color:rgba(0,148,206, 0.87) ;
}
