md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
}

md-toast .md-toast-content {
    height: auto;
}

md-content {
    background: transparent;
}

body {
    background: #f0f0f0;
}
