<ng-md-icon ng-if="iconType==='angular-material'" icon="{{icon}}"></ng-md-icon>
<div ng-if="iconType==='fa'" style="font-size:1.17em; display:inline-block; margin:auto; line-height:initial;"><i class="fa fa-fw" ng-class="icon"></i></div>
<div ng-if="iconType==='wi'" style="font-size:1.17em; display:inline-block; margin:auto; line-height:initial;"><i class="wi wi-fw" ng-class="icon"></i></div>
<div ng-if="iconType==='icofont'" style="font-size:1.17em; display:inline-block; margin:auto; line-height:initial;"><i class="icofont icofont-fw" ng-class="icon"></i></div>
<img ng-if="iconType==='image'" ng-src="{{url}}" style="width:24px; display:block; margin:auto; line-height:initial;"></img>
